.StyledFooter {
  background-color: #151515;
  color: white;
  padding: 50px 0;
}

.text-wrapper {
  color: var(--Color-Light, #fff);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: justify;
  width: 265px;
}

.text-wrapper2 {
  color: var(--Color-Light, #fff);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: 265px;
}

.text-wrapper3 {
  color: var(--Color-Primary, #58a399);
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper4 {
  color: var(--Color-Light, #fff);
  font-family: "Inter-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: justify;
  white-space: nowrap;
  width: fit-content;
}

.text-wrapper5 {
  color: var(--Color-Light, #fff);
  font-family: "Inter-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: justify;
  width: fit-content;
}

.SocialLink {
  height: 43px;
  width: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background-color: #d9d9d9;
  text-decoration: none;
}

.SocialLink.bg-red {
  background-color: red;
}

.SocialLink.bg-green {
  background-color: green;
}

.SocialLink.bg-blue {
  background-color: blue;
}
