<%- include('layouts/navbar') %>

<!-- Page Content  -->
<div class="main-panel">
  <div id="content" class="p-4 p-md-5">
    <div class="container mt-5">


  </div>
</div>
</div>

<%- include('layouts/footer') %>